namespace BrasilTour.wwwroot.css


.HeroOneImg {
    position: absolute;
    width: 100%;
    height: 723px;
    left: 0px;
    top: 68px;
    background: url('images/P-o-de-A-car-Rio-de-Janeiro-brazil-28867889-1280-800');
}

.HeroOneImg h1 {
    position: absolute;
    width: 1139px;
    height: 107px;
    left: 135px;
    top: 236px;
    font-family: 'Dongle';
    font-style: normal;
    font-weight: 400;
    font-size: 72.1875px;
    line-height: 105px;
    color: #BA8B6D;
}

.HeroOneImg p {
    position: absolute;
    width: 610px;
    height: 209.34px;
    left: 135px;
    top: 326px;
    font-family: 'Dongle';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
    /* or 87% */


    color: #BA8B6D;
}

.HeroOneImg a {
    position: absolute;
    left: 145px;
    top: 498px;
    font-family: 'Dongle';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 72px;
    color: #BA8B6D;
   
}


.HeroTwo {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 68px;
    background: #355347;
}

    .HeroTwo h1 {
        position: absolute;
        width: 886px;
        height: 64.95px;
        left: 135px;
        top: 85px;
        font-family: 'Dongle';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 101px;
        color: #BA8B6D;
    }

.HeroTwoImg1 {
    position: absolute;
    width: 270px;
    height: 404.38px;
    left: 135px;
    top: 277px;
    background: #A2A0A0;
}

.HeroTwoImg2 {
    position: absolute;
    width: 270px;
    height: 404.38px;
    left: 435px;
    top: 277px;
    background: #A2A0A0;
}

.HeroTwoImg3 {
    position: absolute;
    width: 270px;
    height: 404.38px;
    left: 735px;
    top: 277px;
    background: #A2A0A0;
}

.HeroTwoImg4 {
    position: absolute;
    width: 270px;
    height: 404.38px;
    left: 1035px;
    top: 277px;
    background: #A2A0A0;
}
