@{
    ViewData["Title"] = "Acre";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Acre</h1>
    <p>

        Região: Noroeste <br>
        Capital: Rio Branco<br>
        População: 790.101 habitantes<br>
        Clima: Equatorial<br>
        Ponto turísticos:<br>
        Novo Mercado Velho<br>
        Horto Florestal<br>
        Parque Ambiental Chico Mendes<br>
        Palácio Rio Branco<br>
        Praça da Revolução

    </p>

      <img  class="img" src="~/css/images/acreimg1.png">   
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>