@{
    ViewData["Title"] = "Alagoas";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Alagoas</h1>
    <p>

        Região: Nordeste <br>
        Capital: Maceió<br>
        População: 3.351.543 habitantes <br>
        Clima: semiárido e tropical<br>
        Pontos turístico:<br>
        Catedral Metropolitana <br>
        Lagoa de Mundaú <br>
        Piscinas naturais de Pajuçara <br>
        Pontal da Barra <br>
        Praia do Gunga

    </p>

    <img class="img" src="~/css/images/alagoasimg1.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>