@{
    ViewData["Title"] = "Amapá";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Amapá</h1>
    <p>

        Região: Norte <br>
        Capital: Macapá<br>
        População: 861.773 habitantes<br>
        Clima: equatorial úmido<br>
        Pontos turíticos:<br>
        Parque marlindo serrano <br>
        Museu Sacaca<br>
        Marco zero do equador<br>
        Igreja são josé de macapá<br>
        Casa do artesão

    </p>

    <img class="img" src="~/css/images/amapaimg1.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>