@{
    ViewData["Title"] = "Amazonas";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Amazonas</h1>
    <p>

        Região: Norte <br>
        Capital: Manaus <br>
        População: 4.207.714 habitantes <br>
        Clima: Equatorial Úmido <br>
        Pontos turístico: <br>
        Teatro Amazonas<br>
        Encontro das Águas<br>
        Cachoeira de Iracema<br>
        Museu da Amazonia<br>
        Cachoeira do Santuário<br>

    </p>

    <img class="img" src="~/css/images/amazonasimg3.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
