@{
    ViewData["Title"] = "Bahia";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Bahia</h1>
    <p>
        Região: Nordeste<br>
        Capital: Salvador<br>
        População: 14.930.634 habitantes<br>
        Clima: tropical e semiárido<br>
        Pontos turíticos:<br>
        Projeto Tamar <br>
        Basílica do Senhor do Bonfim<br>
        Pelourinho<br>
        Ilhéus<br>
        Ilha de Boipeba


    </p>

    <img class="img" src="~/css/images/bahiaimg3.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>