@{
    ViewData["Title"] = "Distrito Federal";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Distrito Federal</h1>
    <p>

        Região: Centro-Oeste<br>
        Capital: Brasília<br>
        População: 3.055.149 habitantes<br>
        Clima: tropical<br>
        Pontos turíticos:<br>
        Pontão do Lago Sul<br>
        Santuario Dom Bosco<br>
        Parque da Cidade Sarah Kubitschek<br>
        Memorial JK<br>
        Jardim Botânico de Brasília
    </p>

    <img class="img" src="~/css/images/dfimg2.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>