@{
    ViewData["Title"] = "Espirito Santo";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Espírito Santo</h1>
    <p>

        Região: Sudeste<br>
        Capital: Vitória<br>
        População: 4.064.052 habitantes<br>
        Clima: tropical<br>
        Pontos turístico:<br>
        parque botânico vale<br>
        Praia da costa <br>
        praia do canto<br>
        Convento nossa senhora da penha<br>
        Praia Setiba<br>
    </p>

    <img class="img" src="~/css/images/eps.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>