@{
    ViewData["Title"] = "Goias";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Goiás</h1>
    <p>

        Região: Centro-Oeste<br>
        Capital: Goiânia<br>
        População: 7.113.540 habitantes<br>
        Clima: tropical<br>
        Pontos turíticos :<br>
        Chapada dos Veadeiros<br>
        Caldas Novas<br>
        Pirenópolis<br>
        Parque Estadual Terra Ronca<br>
        Aruanã<br>


    </p>

    <img class="img" src="~/css/images/goias.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
