@model EstadosModel
@{
    ViewData["Title"] = "Estados";
}

<<link rel="stylesheet" href="/css/inicioEstados.css" />



    <h1>Descubra as opiniões sobre o Brasil!</h1>
   
    
    <select id="link"  onchange="changeFunc(value);">
        <option>Selecione o Estado</option>
       

        <
        
        
        <option value="AC"> Acre</option>
        <option value="AL"> Alagoas</option>
        <option value="AP"> Amapa</option>
        <option value="AM"> Amazonas</option>
        <option value="BH"> Bahia</option>
        <option value="CE"> Ceara</option>
        
        <option value="DF">Distrito Federal</option>
        <option value="ES"> Espirito Santo </option>
        <option value="GO">Goias</option>
        <option value="MA">Maranhão </option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MT">Mato Grosso</option>
        <option value="MG"> Minas Gerais</option>
        
        <option value="PA"> Para </option>
        <option value="PB">Paraiba</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piaui</option>
        <option value="RJ"> Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte </option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO"> Rondonia</option>
       
       
        <option value="RM"> Roraima </option>
        <option value="SC">Santa Catarina </option>
        <option value="SG">Sergipe </option>
        <option value="SP">São Paulo</option>
        <option value="TC">Tocantins </option>

           
        
    </select>
    <script type="text/javascript">
    function changeFunc($i) {
        if ($i == 'SP'){
            window.open('./Estados/SãoPaulo','_self');
        }
        if ($i == 'RJ'){
            window.open('./Estados/RioDeJaneiro','_self');
        }
        if ($i == 'RO'){
            window.open('./Estados/Rondonia','_self');
        }
            if ($i == 'MG') {
                window.open('./Estados/MinasGerais', '_self');
            }
            if ($i == 'AC') {
                window.open('./Estados/Acre', '_self');
            }

            if ($i == 'AL') {
                window.open('./Estados/Alagoas', '_self');
            }

            if ($i == 'AP') {
                window.open('./Estados/Amapa', '_self');
            }

            if ($i == 'AM') {
                window.open('./Estados/Amazonas', '_self');
            }

            if ($i == 'BH') {
                window.open('./Estados/Bahia', '_self');
            }

            if ($i == 'CE') {
                window.open('./Estados/Ceara', '_self');
            }
            if ($i == 'DF') {
                window.open('./Estados/DistritoFederal', '_self');
            }
            if ($i == 'ES') {
                window.open('./Estados/EspiritoSanto', '_self');
            }
            if ($i == 'GO') {
                window.open('./Estados/Goias', '_self');
            }
            if ($i == 'MA') {
                window.open('./Estados/Maranhão', '_self');
            }
            if ($i == 'MS') {
                window.open('./Estados/MatoGrossodoSul', '_self');
            }
            if ($i == 'MT') {
                window.open('./Estados/Matogrosso', '_self');
            }
            if ($i == 'PA') {
                window.open('./Estados/Para', '_self');
            }
             if ($i == 'PB') {
                window.open('./Estados/Paraiba', '_self');
            }
            if ($i == 'PE') {
                window.open('./Estados/Pernambuco', '_self');
            }
             if ($i == 'PI') {
                window.open('./Estados/Piaui', '_self');
            }
            if ($i == 'RN') {
                window.open('./Estados/RioGrandedoNorte', '_self');
            }
            if ($i == 'RS') {
                window.open('./Estados/RioGrandedoSul', '_self');
            }
            if ($i == 'RM') {
                window.open('./Estados/Roraima', '_self');
            }
            if ($i == 'SC') {
                window.open('./Estados/SantaCatarina', '_self');
            }
            if ($i == 'SG') {
                window.open('./Estados/Sergipe', '_self');
            }
             if ($i == 'TC') {
                window.open('./Estados/Tocantins', '_self');
            }
      /*  if ($i == 'RJ'){
            window.open('./Estados/RioDeJaneiro','_self');
        }
        */

    }
    </script>
    <img class="MapBlue" src="./css/images/kisspng-southeast-region-brazil-regions-of-brazil-south-r-mapa-5b391d5e1560d8.7506007715304697260876.png">

      


