@model EstadosModel
@{
    ViewData["Title"] = "Estados";
}

<link rel="stylesheet" href="/css/inicioEstados.css" />


    
    <h1>Descubra as opniões sobre o Brasil!</h1>
 
   
    
    <select id="link"  onchange="changeFunc(value);">
        <option>Selecione o Estado</option>
        <option value="SP">São Paulo</option>

        <option value="RJ"> Rio de Janeiro</option>
        <option value="RO"> Rondonia</option>

           
        
    </select>
    <script type="text/javascript">
    function changeFunc($i) {
        if ($i == 'SP'){
            window.open('./Estados/SãoPaulo','_self');
        }
        if ($i == 'RJ'){
            window.open('./Estados/RioDeJaneiro','_self');
        }
        if ($i == 'RO'){
            window.open('./Estados/Rondonia','_self');
        }
      /*  if ($i == 'RJ'){
            window.open('./Estados/RioDeJaneiro','_self');
        }
        */

    }
    </script>
    <img src="./css/images/kisspng-southeast-region-brazil-regions-of-brazil-south-r-mapa-5b391d5e1560d8.7506007715304697260876.png">

   


