@model EstadosModel
@{
    ViewData["Title"] = "Estados";
}

<link rel="stylesheet" href="/css/inicio.css" />

<div class="HeroTwo">
    
    <h1>Descubra seu proximo destino pelo Brasil</h1>
    <h2>Selecione um estado</h2>
   
    
    <select id="link"  onchange="changeFunc(value);">
        <option>Selecione o Estado</option>
        <option value="SP">São Paulo</option>

        <option value="RJ"> Rio de Janeiro</option>
        <option value="RO"> Rondonia</option>

           
        
    </select>
    <script type="text/javascript">
    function changeFunc($i) {
        if ($i == 'SP'){
            window.open('./Estados/SãoPaulo','_self');
        }
        if ($i == 'RJ'){
            window.open('./Estados/RioDeJaneiro','_self');
        }
        if ($i == 'RO'){
            window.open('./Estados/Rondonia','_self');
        }
      /*  if ($i == 'RJ'){
            window.open('./Estados/RioDeJaneiro','_self');
        }
        */

    }
    </script>

    <a class="HeroTwoImg1"></a>
    <a class="HeroTwoImg2"></a>
    <a class="HeroTwoImg3"></a>
    <a class="HeroTwoImg4"></a>     
</div>

