
@{
    ViewData["Title"] = "Estados";
}

<link rel="stylesheet" href="/css/inicio.css" />

<div class="HeroTwo"><h1>Descubra seu proximo destino pelo Brasil</h1>
    <a class="HeroTwoImg1"></a>
    <a class="HeroTwoImg2"></a>
    <a class="HeroTwoImg3"></a>
    <a class="HeroTwoImg4"></a>     
</div>

