@{
    ViewData["Title"] = "Mato Grosso";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Mato Grosso</h1>
    <p>


        Capital : Cuiabá <br>
        Área: 903.378,292 km°2 <br>
        Clima:Tropical super-úmido <br>
        População: 3,2 milhões de habitantes<br>


        Pontos turístico: <br>
        nova Xavantina <br>
        Vila Bela de santissima trindade <br>
        Barra dos garças.
    </p>

    <img class="img" src="~/css/images/mtg.png">
   <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
