@{
    ViewData["Title"] = "Mato Grosso do Sul";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Mato Grosso do Sul</h1>

    <p>

        Capital : Campo Grande <br>
        Área:357.145.534 km°2 <br>
        População: 2,6 milhões de habitantes <br>
        Clima:Semi arido <br>
        Pontos turístico:<br>
        Parque das nações indígenas <br>
        Recanto ecológico <br>
        Gruta do lado.

    </p>

    <img class="img" src="~/css/images/mtgs.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
