@{
    ViewData["Title"] = "Minas Gerais";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Minas Gerais</h1>
    <p>

        Capital:Belo Horizonte <br>
        Região: Sudeste <br>
        Clima: Tropical<br>
        População: 21,2 milhões <br>

        Pontos turístico: <br> Ouro preto<br>
        Poços de Caldas <br>
        Capitólio
    </p>

    <img class="img" src="~/css/images/minas.png">
   <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>