@{
    ViewData["Title"] = "Paraíba";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Paraíba</h1>
    <p>

        Área: 56.469,744 km2 <br>
        Número de municípios: 223 <br>
        População: 3,9 milhões de habitantes <br>
        Capital : João Pessoa <br>

        Pontos turístico: <br>
        Praia do Bessa <br>
        Praia Cabo Branco <br>
        Piscina natural do Seixas.


    </p>
    <img class="img" src="~/css/images/paraiba4.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
    </div>