@{
    ViewData["Title"] = "Pernambuco";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Pernambuco</h1>
    <p>
       
        Clima : tropical <br>
        Área: 98.076,109 km2 <br>
        População: 9,3 milhões <br>
        Capital : Recife <br>
        Pontos turístico: <br>
        Olinda <br>
        Porto de galinhas <br>
        Baía do Sancho


    </p>

    <img class="img" src="~/css/images/pernambuco4.png">
   <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
