@{
    ViewData["Title"] = "Piauí";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Piauí</h1>
    <p>
        Região: Nordeste <br>
        Capital: Teresina <br>
        Área territorial: 251.755,485 <br>
        População: 3.281.480 habitantes <br>
        Clima: Tropical do tipo quente e úmido e semiárido <br>

        Pontos turístico :<br>
        Lira eco parque <br>
        Mirante do gritador <br>
        Parque nacional das setes cidades


    </p>

    <img class="img" src="~/css/images/piaui3.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
