@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div >
    <link rel="stylesheet" href="~/css/images/Mapa-do-Brasil-Turismo-480x480-1.jpg">
  
</div>
 <div>
     <link rel="stylesheet" href="~/css/StyleEstadosTxt.css">
     
       <h1>Rio de Janeiro</h1>
       <p rel="stylesheet" href="~/css/StyleEstadosTxt.css" class ="Rio"> 

        Rio de Janeiro é uma das 27 unidades federativas do Brasil. Situa-se a sudeste da região Sudeste do país, tendo como limites os estados de Minas Gerais norte e noroeste, Espírito Santo nordeste e São Paulo sudoeste, além do Oceano Atlântico leste e sul. Ocupa uma área de 43 750,425 km². Os naturais do estado do Rio de Janeiro são chamados de fluminenses do latim flumen, literalmente "rio".

        A cidade mais populosa é a sua capital homônima, polo da segunda maior metrópole do Brasil. Apesar de ser, em termos de território, o terceiro menor estado brasileiro ficando atrás apenas de Alagoas e Sergipe, concentra 8,4% da população do país, sendo o estado com maior densidade demográfica do Brasil. <br>

        Capital: Rio de Janeiro <br>
        Região: Sudeste <br>
        População: 6,7 milhões de habitantes <br>
        clima; clima tropical umido <br>
        Pontos turristicos:<br>
                                      Cristo Redentor <br>
                                      Parque Lage<br>
                                      Escadaria Selarón<br>
                                      Pão de Açúcar<br>
                                      Jardim Botânico
              </p>

    </div>
