@{
    ViewData["Title"] = "Rio de Janeiro";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Rio de Janeiro</h1>
    <p>

        Capital: Rio de Janeiro <br>
        Região: Sudeste <br>
        População: 6,7 milhões de habitantes <br>
        clima: clima tropical umido <br>
        Pontos turristicos:<br>
        Cristo Redentor<br>
        Cristo Redentor<br>
        Escadaria Selarón<br>
        Pão de Açúcar<br>
        Jardim Botânico .

    </p>

    <img class="img" src="~/css/images/rio1.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>

    
</div>