@{
    ViewData["Title"] = "Rio Grande do Norte";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Rio Grande do Norte</h1>
    <p>

        Capital: Natal <br>
        Região: Nordeste <br>
        População:  3,4 milhões de habitantes <br>
        clima: Tropical semi árido <br>
        Pontos turísticos:<br>
        Dunas de Genipabu <br>
        Baia dops golfinhos <br>
        Praia do amor <br>
        Parrachos de Maracaju <br>
        Praia da pipa <br>


    </p>
    <img class="img" src="~/css/images/riodonorte1.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
