@{
    ViewData["Title"] = "Rio Grande do Sul";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Rio Grande do Sul</h1>
    <p>

        Capital: Porto Alegre <br>
        Região: Sul <br>
        População:  11,29 milhões de habitantes <br>
        clima: subtropical <br>
        Pontos turísticos : <br>
        Cidade de pelotas <br>
        Parque da guarita em torres <br>
        Cânion do itaimbezinho <br>
        Usina do gasômetro <br>
        Reserva ecológica do taim <br>

    </p>

    <img class="img" src="~/css/images/riodosul4.png">
   <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
