@{
    ViewData["Title"] = "Rondônia";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Rondônia</h1>
    <p>
        Capital: Porto Velho <br>
        Região: Norte <br>
        População:  1,754 milhões de habitantes <br>
        clima: equatorial <br>
        Pontos turísticos: <br>
        Memorial Rondônia <br>
        Parque natural de porto velho <br>
        Espaço alternativo de porto velho <br>
        Vale das cachoeiras as três caixas d'agua <br>


    </p>

    <img class="img" src="~/css/images/rondonia2.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>