@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div rel="stylesheet" href="StyleEstados.css">
    <h1>Guia Turistico dos Estados Brasileiros</h1>
    <ul>
      <a href="riodejaneiro.html">Rio de Janeiro</a>
      <p><br></p>
      <a href="rondonia.html">Rondonia</a>



    </ul>
    </div>