@{
    ViewData["Title"] = "Roraima";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Roraima</h1>
    <p>
     
        Capital: Boa Vista <br>
        Região: Norte <br>
        População: 496,936  mil de habitantes <br>
        Clima: equatorial <br>
        Pontos turísticos : <br>
        Praça das águas <br>
        Aquamak <br>
        Parque nacional do monte Roraima <br>
        Orla taumanan <br>
        Monumento aos pioneiros <br>


    </p>

    <img class="img" src="~/css/images/roraima1.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
