@{
    ViewData["Title"] = "Santa Catarina ";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Santa Catarina </h1>
    <p>
       
        Capital: Florianópolis <br>
        Região: Sul e Sudeste <br>
        População: 7,165 milhões de  habitantes <br>
        Clima: Subtropical úmido <br>
        Pontos turísticos: <br>
        Santo Antônio de Lisboa <br>
        Beto carreiro worlds <br>
        Parque vila germânica <br>
        Praia de bombinhas <br>
        Lagoinha do leste <br>

    </p>

    <img class="img" src="~/css/images/santacatarina3.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
