@{
    ViewData["Title"] = "Sergipe";
}

<link rel="stylesheet" href="~/css/Estados.css" />
<div class="hero">
    <h1>Sergipe </h1>
    <p>

        Capital: Aracaju <br>
        Região: Nordeste <br>
        População:  2,22 milhões de habitantes <br>
        Clima: Tropical quente e úmido <br>
        Pontos turísticos <br>
        Praia de araúna <br>
        Orla de atalaia <br>
        Passarela de caranguejo <br>
        Museu de gente sergipana <br>
        Croa do goré  <br>

    </p>

    <img class="img" src="~/css/images/sergipe3.png">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
</div>
