
@{
    ViewData["Title"] = "São Paulo";
}
 <link rel="stylesheet" href="~/css/Estados.css" />

<div class="hero">
        <h1>São Paulo</h1>
    <p class="texto">

        Capital: Rio de Janeiro <br>
        Região: Sudeste <br>
        População: 6,7 milhões de habitantes <br>
        clima: clima tropical umido <br>
        Pontos turristicos:<br>
                                      Cristo Redentor <br>
                                      Parque Lage<br>
                                      Escadaria Selarón<br>
                                      Pão de Açúcar<br>
                                      Jardim Botânico 


    </p>



    </div>