
@{
    ViewData["Title"] = "São Paulo";
}
 <link rel="stylesheet" href="~/css/Estados.css" />

       </div>


    <div class="hero">
        <h1>São Paulo</h1>
    <p>

        Capital: Rio de Janeiro <br>
        Região: Sudeste <br>
        População: 6,7 milhões de habitantes <br>
        clima: clima tropical umido <br>
        Pontos turristicos:Cristo Redentor,Cristo Redentor, Escadaria Selarón, Pão de Açúcar, Jardim Botânico .
                                     
    </p>

    <div class="img"></div>
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua experiencia!</a>

    <button type="submit" class="btn2"></button>
    </div>

