
@{
    ViewData["Title"] = "São Paulo";
}
 <link rel="stylesheet" href="~/css/Estados.css" />

       
    <div class="hero">
        <h1>São Paulo</h1>
    <p>

        Capital: São Paulo <br >
        Região:  Sudeste <br>
        População:  12,33 milhões de habitantes <br>
        Clima: Tropical <br>
        Pontos turísticos:<br>
        Parque Ibirapuera<br>
        Avenida paulista<br>
        Museu do futebol|<br>
        Pinacoteca do estado de são Paulo<br>
        Neo química arena.
    </p>
    <img class="img" src="~/css/images/ponte-estaiada-sao-paulo-1.jpg">
    <a type="submit" class="btn1" asp-controller="Estados" asp-action="Forms">Comente sua expêriencia!</a>
    <a type="submit" class="btn2" asp-controller="Estados" asp-action="Comentarios">Veja os comentários!</a>
    </div>

