<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brasil Tour</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
        <div class="cabecalho">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index" >TourBrasil</a>
            <ul class="nav-list">
                <a class="Estados" asp-area="" asp-controller="Estados" asp-action="Index">Estados</a>
                <a class="Rotas" asp-area="" asp-controller="Home" asp-action="Index">Rotas</a> 
                <a class="Sobre" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                <a class="Contatos" asp-action="" asp-controller="Contato" asp-action="Index">Contatos</a>      
            </ul>
             </div>
        </nav>
      
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
             <footer class="footer">
                <p class="footer mt-auto py-3 bg-light">
                    &copy; 2022 - Brasil Tour @DateTime.Now.Year
                </p>
            </footer>

    
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>

 
</html>

    