
@{
    ViewData["Title"] = "Página inicial";
}
 <link rel="stylesheet" href="/css/inicio.css" />
 <div class="HeroOneImg">
    <h1>Texto</h1>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Quem manda na minha terra sou euzis!Mé faiz elementum girarzis,
    nisi eros vermeio.Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.Vehicula non.
     Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.</p>
    <button value="/"> Veja<button>
</div>

