
@{
    ViewData["Title"] = "Página inicial";
}

    <div> 
<link rel="stylesheet" href="~/css/home.css">
</div>
    <div class="d-flex justify-content-start">
        <h1 class="text-white">Guia turístico para todo o Brasil!</h1>
     
      
      
    
    </div>
    <br />
    <div class="d-flex justify-content-start">
                 <h1 class="text-white">BrasilTour</h1>
    </div>

   