
@{
    ViewData["Title"] = "Página inicial";
}
 <link rel="stylesheet" href="/css/inicio.css" />
 
 <div class="hero">
        
         <a asp-controller= "Estados" asp-action= "Index"><img class="imgMain"src="./css/images/Banner.jpg"> </a>

         <a asp-controller= "Estados" asp-action= "RioDeJaneiro"><img class="img1"src="./css/images/P-o-de-A-car-Rio-de-Janeiro-brazil-28867889-1280-800.jpg"></a>

         <a asp-controller= "Estados" asp-action= "SãoPaulo"><img class="img2"src="./css/images/sp.jpg"> </a>

         <a asp-controller= "Estados" asp-action= "Bahia"><img class="img3"src="./css/images/BahiaLink.jpg"> </a>

         <a asp-controller= "Estados" asp-action= "RioGrandeDoSul"><img class="img4"src="./css/images/RioGrandeLink.jpg"> </a>

         <a asp-controller= "Estados" asp-action= "MatoGrosso"><img class="img5"src="./css/images/MTLink.jpg"> </a>

         <a asp-controller= "Estados" asp-action= "Amazonas"><img class="img6"src="./css/images/AMLink.jpg"> </a>

    </div>