@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/Sobre.css" />
<div class="hero">

<p>   O nosso projeto é um guia informativo do Brasil, 
com ele os usuários podem entrar observar região,
 capital, população, clima e ponto turísticos de todos
 os estados. Nosso objetivo é informar viajantes que 
desejam passar as férias em cidades turísticas no Brasil,
 informando a qualidade dos locais que outras pessoas
 passaram, assim, direcionando elas à um lugar de 
conforto, lazer e seguro.
</p>

</div>